/* partie about */

/*added fonts*/
@font-face {
    font-family: 'tahuregular';
    src: url('font/tahu-webfont.woff2') format('woff2'),
         url('font/tahu-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'abril_fatfaceregular';
    src: url('abrilfatface-regular-webfont.woff2') format('woff2'),
         url('abrilfatface-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*text part*/

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about {
    left: 20%;
    top: 15%;
    font-size: 5rem;
    color: white;
    font-family:'tahuregular';
    text-align: center;
    position: absolute;
    z-index: 2;
}

.titre {
    text-align: center;
    font-size: 8 rem;
    margin-top: 1O%;
    margin-bottom: 10%;
    font-family: 'Abril Fatface';
    font-weight: lighter;
    color: #F76C6C;
}

p {
    width: 70%;
    text-align:justify;
    margin: auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/*animation*/
.box{
    height:100vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
#box1{
    background-color: #F76C6C;
    position: relative;
}
#box2{
    background-color: white;
}

img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 70%;
    transform: translate(-50%, -50%);
    position: fixed;
}

    