/*added fonts*/
@font-face {
    font-family: 'tahuregular';
    src: url('font/tahu-webfont.woff2') format('woff2'),
         url('font/tahu-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'abril_fatfaceregular';
    src: url('abrilfatface-regular-webfont.woff2') format('woff2'),
         url('abrilfatface-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer {
    display: flex;
    background-color: #F76C6C;
    justify-content: center;
    height: 5vh;
    padding-bottom: 0px;
    position: relative;
    width: 100%
}

footer a {
    padding: 15px;
}

.cardProduct{

    display: flex;
    flex-flow: column wrap;
    justify-content: center;

}

.imgContainer{
    width: 100%;
    display:flex;
    justify-content: center;
}

.product {
    width: 250px;
    height: 250px;
    box-shadow: 0px 2px 2px rgba(255, 105 ,180);
    border-radius: 20px;
    border: solid #F76C6C 1px;
}

.imgContainer img {
    /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    }

.imgContainer:hover img
{
    /* L'image est grossie de 50% */
    -webkit-transform:scale(1.50); /* Safari et Chrome */
    -moz-transform:scale(1.50); /* Firefox */
    -ms-transform:scale(1.50); /* Internet Explorer 9 */
    -o-transform:scale(1.50); /* Opera */
    transform:scale(1.50);
}
.title {
    font-family: 'tahuregular';
    font-size: 50px;
    margin-top: 5%;
    text-align: center;
    color: #F76C6C;
    margin-top: 15%;
}
.subtitle {
    font-weight:bold;
    text-align: center;
    margin-bottom: 10%;
    background-color: #F76C6C;
    color: white;
    padding: 3%;
    width: 100%;
}

.price{
    font-size: 45px;
    text-align: center;
    margin-top: 7%;
    font-family: 'tahuregular';
    margin-bottom: 7%;
    font-weight: 100;
    color: #F76C6C;
}


.productInfo{
    border: 2px solid #F76C6C;
    padding: 3%;
    margin: 3%;
    background-color: rgba(241, 241, 241, 0.37);
}

.descriptionProduct{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: x-large;
}

.buyContain{
        width: 100%;
        display:flex;
        justify-content: center;
}
    


.favoriteBuy {
    margin-bottom: 30%;
    margin-top: 20%;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.favoriteBuy:hover {
    background-color: rgba(255, 0, 0, 1);
}

.favoriteBuy:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}