/*added fonts*/
@font-face {
    font-family: 'tahuregular';
    src: url('font/tahu-webfont.woff2') format('woff2'),
         url('font/tahu-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'abril_fatfaceregular';
    src: url('abrilfatface-regular-webfont.woff2') format('woff2'),
         url('abrilfatface-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*Font menu*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/*Variable*/
:root {
    --font-size:1rem;
}
.light-mode {
    --navbar-color: #222;
    --navbar-bg-color: #F0F0F0;
}
.dark-mode {
    --navbar-color:#FFF;
    --navbar-bg-color: #000;
}

ul{
    list-style: none;
}

/*Basic style*/
header {
    margin: 0;
    font-size:var(--font-size);
    font-family: 'Poppins', sans-serif;

}
.main-content {
    padding:1rem;
}

/*Navbar*/
.navbar {
    display: flex;
    align-items: center;
    justify-content:space-between ;
    padding: 10px;
    font-size: 1.1rem;
    background:var(--navbar-bg-color);
    color:var(--navbar-color);
}
.navbarLinks {
    display:flex;
}
.navbarLink {
    padding: 0 10px;
}
.navbarLink > a {
    text-decoration: none;
    color: var(--navbar-color);
}
.burger {
    display: none;
}

/*Small device*/
@media screen and (max-width:767.98px){
    .navbarLinks {
        display: flex;
        flex-direction: column;
        width:0;
        height:calc(100vh-65px);
        position: absolute;
        top: 65px;
        right: 0;
        background:var(--navbar-bg-color);
        transform: translateX(110%);
        transition: all .5s ease-in-out;
    }
    .show-nav .navbarLinks {
        width: 100%;
        transform: translateX(0);
    }
    .navbarLink > a {
        display: block;
        padding: 1rem;
        font-size: 1.6rem;
        color:var(--navbar-color);
        transition: all .4s ease-in-out;
    }
    .navbarLink > a:hover {
        padding-left: 2rem;
        letter-spacing:5px;
    }
    /* Toggle menu */
.burger{
    display:block;
    position:relative;
    padding:0; 
    width:45px;
    height:45px;
    border:none;
    background:transparent;
    cursor:pointer;
}
.bar {
    display: block;
    width:45px;
    height:4px;
    background:var(--navbar-color);
    border-radius:3px;
}
.show-nav .bar {
    width:0;
    background:transparent;    
  }
.bar::before, .bar::after {
    content:"";
    width:45px;
    height:4px;
    position:absolute;
    left: 0;
    background:var(--navbar-color);
    border-radius:3px;
    transform: translateX(110%);
    transition: all .5s ease-in-out;
}
.bar::before {
    transform:translateY(-12px);
}
.show-nav .bar::before {
    transform:rotate(45deg);
  }
.bar::after {
    transform:translateY(12px);
}
  .show-nav .bar::after {
    transform:rotate(-45deg);
  }
}

    /*Bonus animations*/
.show-nav .Home {      
    transition: all 1s ease-out;
} 
.show-nav .second {      
    transition: all 1.1s ease-out;
} 
.show-nav .third {      
    transition: all 1.2s ease-out;
} 
.show-nav .four {      
    transition: all 1.3s ease-out;
} 
.show-nav .fifth {      
    transition: all 1.4s ease-out;
}



/*Medium device*/
@media screen and (min-width:768px){
    .navbarLink > a::after {
    display:block;
    content: "";
    width:0;
    height: 1px;
    background:var(--navbar-color);
    transform: width .4s;
    }
    .navbarLink:hover > a::after {
        width: 100%;
    }
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer {
    display: flex;
    background-color: #F76C6C;
    justify-content: center;
    height: 5vh;
    padding-bottom: 0px;
    position: relative;
    width: 100%
}

footer a {
    padding: 15px;
}

.cardProduct{

    display: flex;
    flex-flow: column wrap;
    justify-content: center;

}

.imgContainer{
    width: 100%;
    display:flex;
    justify-content: center;
}

.product {
    width: 250px;
    height: 250px;
    box-shadow: 0px 2px 2px rgba(255, 105 ,180);
    border-radius: 20px;
    border: solid #F76C6C 1px;
}

.imgContainer img {
    /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
    -webkit-transition: all 0.5s ease; /* Safari et Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* Internet Explorer 9 */
    -o-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
    }

.imgContainer:hover img
{
    /* L'image est grossie de 50% */
    -webkit-transform:scale(1.50); /* Safari et Chrome */
    -moz-transform:scale(1.50); /* Firefox */
    -ms-transform:scale(1.50); /* Internet Explorer 9 */
    -o-transform:scale(1.50); /* Opera */
    transform:scale(1.50);
    margin-bottom: 50px;
    margin-top: 50px;
}
.title {
    font-family: 'tahuregular';
    font-size: 40px;
    margin-top: 5%;
    text-align: center;
    color: #F76C6C;
    margin-top: 15%;
}
.subtitle {
    font-weight:bold;
    text-align: center;
    margin-bottom: 10%;
    background-color: #F76C6C;
    color: white;
    padding: 3%;
    width: 100%;
    font-size: 40px;
}

.price{
    font-size: 45px;
    text-align: center;
    margin-top: 7%;
    font-family: 'tahuregular';
    margin-bottom: 7%;
    font-weight: 100;
    color: #F76C6C;
}


.productInfo{
    border: 2px solid #F76C6C;
    padding: 3%;
    margin: 3%;
    background-color: rgba(241, 241, 241, 0.37);
}

.descriptionProduct{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: x-large;
}

.buyContain{
        width: 100%;
        display:flex;
        justify-content: center;
}
    


.favoriteBuy {
    margin-bottom: 30%;
    margin-top: 20%;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.favoriteBuy:hover {
    background-color: rgba(255, 0, 0, 1);
}

.favoriteBuy:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}