/*added fonts*/
@font-face {
    font-family: 'tahuregular';
    src: url('font/tahu-webfont.woff2') format('woff2'),
         url('font/tahu-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'abril_fatfaceregular';
    src: url('abrilfatface-regular-webfont.woff2') format('woff2'),
         url('abrilfatface-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body
{
    text-align: center;
}

h1 {
    display: flex;
    justify-content: center;
    height: 3rem;
    width: 100%;
    font-size: 40px;
    font-weight: bold;
    padding: 16px;
    color: white;
    background-color: #FFFFFF;
    color : #f76c6c;
    font-family: 'tahuregular';
    padding-bottom: 40px;
    padding-top: 40px;
}

.articleContainer
{
 width: 363px;
 height: 176px;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 border-radius: 20px;
 display: flex;
 justify-content: space-evenly;
 margin: 10px;
}

.articleContainer img
{
    width: 150px;
    height: 150px;
    padding-left: 17px;
    padding-top: 14px;
    padding-bottom: 12px; 
}

img
{
    background: #FFF2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding-right: 200px;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.texteArticle
{
    position: absolute;
    margin-left : 155px;
    margin-top: 18px;
    width: 170px;
}

span
{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.buy
{
    position: absolute;
    background: #F76C6C;
    width: 98px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-left : 165px;
    margin-top: 130px;
}

.flexArticle
{
    display: flex;
    flex-wrap: wrap;
    padding-left: 45px;
}

footer
{
    margin-top: 40px;
}

