body
{
    text-align: center;
}

.article summary
{
    text-decoration: underline;
    font-weight: bold;
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 6em;
}

.articleContainer
{
 width: 363px;
 height: 176px;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 border-radius: 20px;
 display: flex;
 justify-content: flex-start;
 margin: 10px;
}

.articleContainer img
{
    width: 150px;
    height: 150px;
    padding-left: 17px;
    padding-top: 14px;
    padding-bottom: 12px;
    
    
    
}

.texteArticle
{
    position: absolute;
    margin-left : 175px;
    margin-top: 18px;
    width: 170px;
}

span
{
    font-weight: bold;
}

.buy
{
    position: absolute;
    background: #F76C6C;
    width: 170px;;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-left : 175px;
    margin-top: 130px;
}

details
{
    padding: 20px;
}

details img
{
    background: #FFF2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding-right: 200px;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.flexArticle
{
    display: flex;
    justify-content: space-evenly;
    
}

