
h1 {
    display: flex;
    justify-content: center;
    font-size: 18px;
    padding: 16px;
    color: white;
    background-color: #f76c6c;
    margin: 0;
    position: relative;
    top: 0;
    width: 100vw;
}

p {
    margin: 20px;
    text-align: justify;
    width: 90%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(71, 71, 71, 0.993);
}

h3 {
    margin: 10px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: lighter;
}

body{
    background-color: rgb(243, 240, 240);
}