h1 {
    display: flex;
    justify-content: center;
    padding: 18px;
    color: #F76C6C;
    background-color: rgb(247, 243, 243);
    position: relative;
    margin-top: 0;
    width: 100vw;
    font-family: 'tahuregular';
}
p {
    margin: 20px;
    text-align: justify;
    width: 90%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(71, 71, 71, 0.993);
}
h3 {
    margin: 10px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: lighter;
}
body{
    background-color: rgb(243, 240, 240);
}