/*Formulaire*/
#contactForm {
    display: flex;
    flex-direction: column;
     margin: auto;
     width: 50vw;
     height: 70vh;
     padding: 70px;
     font: bold;
}

input {
    height: 30px;
}

h1 {
    display: flex;
    justify-content: center;
    height: 5rem;
    font-size: 40px;
    font-weight: bold;
    padding: 17px;
    color: white;
    background-color: #f76c6c;
}

label {
    padding: 10px;
    font-weight: bold;
}

textarea {
    height: 150px;
    margin: 5px;
}

.button {
    width: 30%;
    align-self: center;
    margin: 10px;
    border-radius: 30px;
}