/*added fonts*/
@font-face {
    font-family: 'tahuregular';
    src: url('font/tahu-webfont.woff2') format('woff2'),
         url('font/tahu-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'abril_fatfaceregular';
    src: url('abrilfatface-regular-webfont.woff2') format('woff2'),
         url('abrilfatface-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*Formulaire*/

.ledoge{
    background-image: url('assets/leDoge.png');
    background-size: cover;
    padding: 50%;
    position: relative;
    opacity: 75%;
}

.adress{
    position: absolute;
    top: 25%;
    margin-left: 32%;
}

#contactForm {
    display: flex;
    flex-direction: column;
     margin: auto;
     width: 50vw;
     height: 70vh;
     padding: 40px;
     font: bold;
}

input {
    height: 30px;
}

h1 {
    display: flex;
    justify-content: center;
    height: 3rem;
    font-size: 40px;
    font-weight: bold;
    padding: 16px;
    color: #f76c6c;
    font-family: 'tahuregular';
}

h2 {
    font-weight: bolder;
    font-size: 25px;
    padding: 30px;
    position: absolute;
    top: 10%;
    margin-left: 55%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-shadow: 2px 2px 2px black;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px black;
    line-height: 23px;
}

label {
    padding: 20px;
    font-weight: bold;
}

textarea {
    height: 130px;
    width: 15rem;
    align-self: center;

}

.button {
    border-radius: 20px;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 3%;
    font-size: medium;
    width: 60%;
    align-self: center;
}

/*animation*/
img {
    height: 250px;
    margin: 20px;
}