
body {
    margin: auto;
    padding: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
}



h1, h3, h4 {
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
}

h1{
    font-family: 'Abril Fatface';
    margin: 5% 14%;
    font-size: 40px;
}

h3{
    font-size: 32px;
    color:#f76c6c;
}

span{
    color:#f76c6c;
    font-size: 15px;
}
.mainContain {
    width: 100%;
    height: auto;
    margin: 10px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.containIntro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f7c1c1;
<<<<<<< HEAD
=======
    /*padding: 2%;*/
>>>>>>> f0704038f91f808bdae9231cf8b8ad22d375b082
    color: black;
    width: 100vw;
}

.containIntro img {
    margin-right: 10%;
    width: 7%;
    cursor: pointer;
}

.prizeContain {
<<<<<<< HEAD
=======
    /*padding: 2%;*/
>>>>>>> f0704038f91f808bdae9231cf8b8ad22d375b082
    padding-bottom: 2%;
    width : 100%;
    color: #f76c6c;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
}
.prizes1{
    font-size: 3vh;
    text-align: center;
}

p{
    display: none;
}

.giftContain{
    height: 30vh;
    border: 2px solid rgb(224, 224, 224);
    background-color: aliceblue;
    display: flex; 
    justify-content: center;
    align-items: center;
    padding:10%;
}

.gift{
    font-size: 100%;
    border: 1px solid #f76c6c;
    width: 30vw;
    height: 30vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    width: auto;
    background-color: #f76c6c;
    height: 30vh;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.releasedGifts {
    width : 30vw;
    height: 30vh;
}

.left{
    text-align: center;
    font-size: 20px;
    margin-bottom: 3%;
    width : 100vw;
    height: 2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f76c6c;
    font-weight:lighter;
}

.buttonSentence{
color: black;
font-size: 13px;
}

.tryit{
    color: black;
    font-style: italic;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.firstPrice{
    width: 100vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 3vh;
    margin-bottom: 8%;

}

.firstPrice span{
    font-weight: 600;
    font-size: 23px;
}

.laptopContain{
    width: auto;
    margin-bottom: 13%;
}

.computer{
    width: 100vw;
}

button:hover{
    background-color: #fa5353;
    font-style: italic;
}

section{
    text-align: center;
    font-weight: bold;
    margin: 0 10% 0 10%;
}



/* ------------MEDIA QUERIES--------------*/

@media (max-width: 600px) {
    .containIntro img {
    margin-right: 10%;
    width: 22%;
    cursor: pointer;
    }   

    .giftContain{
        height: 30vh;
        border: 2px solid rgb(224, 224, 224);
        background-color: aliceblue;
        display: flex; 
        justify-content: center;
        align-items: center;
        padding:10%;
    }
    
    .gift{
        font-size: 100%;
        border: 1px solid #f76c6c;
        width: 40vw;
        height: 20vh;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .buttonSentence{
        color: black;
        font-size: 13px;
    }
        
     .tryit{
            color: black;
            font-style: italic;
            font-weight: bold;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .button{
            width: auto;
            background-color: #f76c6c;
            height: 20vh;
            font-size: 14px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

}