<<<<<<< HEAD



=======
<<<<<<< HEAD
=======

footer {
    display: flex;
    background-color: #f76c6c;
    justify-content: center;
    height: 5vh;
    padding-bottom: 8px;
    position: absolute;
    bottom: 0;
    width: 100vw;
}

footer a {
    padding: 15px;
}
>>>>>>> 5551ab0a4848afdb45d455023cd69232fcabc2b7
>>>>>>> 3a8e94ac40216ac12bed51b02356d460afa93c32
