<<<<<<< HEAD

=======
>>>>>>> 77919c56c23f2a0810267dc1dc0dbc3bbe0ee550
body {
    position: relative;
}
footer {
    display: flex;
    background-color: #F76C6C;
    justify-content: center;
    height: 5vh;
    padding-bottom: 0px;
    position: absolute;
    width: 103%
}
footer a {
    padding: 15px;
}
